.card {
    position: relative;
    margin-bottom: $spacer;
    border: $border-width solid $gray-300;
    border-radius: $border-radius;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);

    .card-header {
        background-color: $gray-100;
        border-bottom: $border-width solid $gray-300;
        padding: 1rem;
    }
}

// Bordes de tarjetas
.border-left-primary { border-left: 4px solid $primary; }
.border-left-success { border-left: 4px solid $success; }
.border-left-info { border-left: 4px solid $info; }
.border-left-warning { border-left: 4px solid $warning; }

// Contenido de tarjetas
.card-body {
    padding: 1.25rem;
}
